*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
}
/* Mobile phones */
@media (max-width: 480px){
    body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}
.about-section p{
    font-size: 16px
    }
}

/* Tablets */
@media (max-width: 768px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}}

/* Laptops */
@media (max-width: 1024px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}}

/* Large desktops */
@media (min-width: 1201px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
}}
.nav-bar{
  background:linear-gradient(rgb(27, 22, 22), rgb(3, 3, 7)) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    position: sticky;
    top: 0;
    padding: 20px;
    box-shadow: rgb(41, 46, 52) 0px 3px 5px;
    border-bottom: rgb(22, 121, 121) 1px solid;
}
.nav-bar li, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    list-style-type: none;
    font-weight: 500;
    display: inline;
    margin: 0 2px;
    
}
.nav-bar li:hover{
    text-decoration: underline;
    transition: 0.5s;

}
/*
.heading h2{
    background: linear-gradient(rgb(12, 188, 174), rgb(115, 220, 223));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX('50%');
    text-align: center;
    font-size: 22px;
}
    */
.contents img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #30bcce;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
    overflow: clip;
    text-align: center;
    display: block;
    margin: 15px auto;
}
.project-btn{
    background: #0D1117;
    color: #C9D1D9;
    padding: 10px 20px;
    border: #30bcce 1px solid;
    
}
.project-btn:hover{
    background: #08cde7;
    color: #0b0b06;
    transition: 0.5s;
}
.contact-btn{
    background: #0D1117;
    color: #C9D1D9;
    padding: 10px 20px;
    border: #30bcce 1px solid;
    
}
.contact-btn:hover{
    background: #08cde7;
    color: #131304;
    transition: 0.5s;
}
.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.heading h1{
    text-align: center;
    font-size: 24px;
    font-family: inherit;
    color: rgb(224, 239, 239);
}
.heading h3{
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    color: rgb(220, 234, 234);
}
.heading p{
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    background: linear-gradient(rgb(198, 231, 228), rgb(225, 220, 225));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX('50%');
}
.about-section{
    margin: auto;
    height: auto;
    margin-left: 2px;
}
.about-section p{
   background: linear-gradient(rgb(10, 9, 9), rgb(3, 19, 19));
   background-position: fill;
   padding: 22px;
   border-color: #0b2733;
   border-style: solid;
   border-width: 2px;

}
.about-section h2{
    text-align: center;
    font-size: 28px;
    font-family: inherit;
    font-weight: 900;
    color: inherit;
}

.logo img{
    width: 38px;
    height: 38px;
    margin-right:0;
    margin-left: 0;
    border-radius: 50%;
}
hr{
    border: 0;
    height: 1px;
    background: #bbc8d6;
}
