*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
}
html{
      scroll-behavior: smooth;
}

/* Mobile phones */
@media (max-width: 480px){
    body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}
.edu-bg h2 {
    text-align: center;
    font-size: 25px;
}
.about-section {
    text-align: center;
    font-size: 25px;
}
.edu-bg img {
    width: 700px;
    height: 700px;
    height: auto;
    align-items: center;
    margin-left: 30px;
}
.about-section p{
    font-size: 16px
    }
}

/* Tablets */
@media (max-width: 768px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}}
/* Laptops */
@media (max-width: 1024px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}}
/* Large desktops */
@media (min-width: 1201px) {  body{
    background: linear-gradient(135deg, #030514, #0a181d, #031f2b);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
}
#about h2{
    font-size: 35px;
    text-align: center;
}
#education h2 {
   font-size: 35px;
   text-align: center;
}
.edu-bg img {
    width: 300px;
    height: 200px;
    align-items: center;
    margin-left: 30px;
}
}
.nav-bar{
  background: #14274d;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    position: sticky;
    top: 0;
    padding: 20px;
    box-shadow: rgb(51, 59, 68) 0px 3px 5px;
    border-bottom: rgb(19, 83, 83) 1px solid;
}
.nav-bar li, a{
    color: #E4F1FF;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    list-style-type: none;
    font-weight: 500;
    display: inline;
    margin: 0 2px;
    
}
.nav-bar li:hover{
    text-decoration: underline;
    transition: 0.5s;

}

.contents img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #30bcce;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
    overflow: clip;
    text-align: center;
    display: block;
    margin: 15px auto;
}
.project-btn{
    background: #0D1117;
    color: #C9D1D9;
    padding: 10px 20px;
    border: #30bcce 1px solid;
    
}
.project-btn:hover{
    background: #08cde7;
    color: #0b0b06;
    transition: 0.5s;
}
.contact-btn{
    background: #0D1117;
    color: #C9D1D9;
    padding: 10px 20px;
    border: #30bcce 1px solid;

}
.contact-btn:hover{
    background: #08cde7;
    color: #131304;
    transition: 0.5s;
}
.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.heading h1{
    text-align: center;
    font-size: 24px;
    font-family: inherit;
    color: rgb(224, 239, 239);
}
.heading h3{
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    color: rgb(220, 234, 234);
}
.heading p{
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    background: linear-gradient(rgb(198, 231, 228), rgb(225, 220, 225));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX('50%');
}
.about-section{
    margin: auto;
    height: auto;
}
.about-section p{
   padding: 22px;
   border-color: #e0e8ec;
   border-style: solid;
   border-width: 2px;
   color: #07090a;
   background: #EEF5FF;


}
.about-section h2{

    font-family: "Lato", helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.463rem;
    font-weight: 900;
}
.edu-bg h2{
    font-family: "Lato", helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.463rem;
    font-weight: 900;
}

.logo img{
    width: 38px;
    height: 38px;
    margin-right:0;
    margin-left: 0;
    border-radius: 50%;
}

#about .about-section{
 background: #d7e5f3;
 padding: 20px;
 box-shadow: #0f1011 0px 4px 8px;
}

#about .edu-bg{
padding: 20px;
box-shadow: #0f1011 0px 4px 8px;
background: linear-gradient(135deg, #030514, #0a181d, #031f2b);

}
.edu-bg p{
    color:white;
    font-family: "Lato", helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.463rem;
    font-weight: 400;
    
}
.edu-bg img{
    border-color: #122f35;
    border-width: 2px;
    border-style: solid;
    -webkit-box-shadow: inset -1px 3px 8px 5px #6595cd, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #728293, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}
.edu-bg p{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: #1f3449 0px 4px 8px;
    border-color: #363c42;
}

